<a href="https://colab.research.google.com/github/saadmarwan16/logistic_regression/blob/main/process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# uploaded = files.upload()

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('ecommerce_data.csv')
df.head(5)

   is_mobile  n_products_viewed  ...  time_of_day  user_action
0          1                  0  ...            3            0
1          1                  1  ...            2            1
2          1                  0  ...            1            0
3          1                  1  ...            1            2
4          0                  1  ...            1            2

[5 rows x 6 columns]

In [4]:
def get_data():
    df = pd.read_csv('ecommerce_data.csv')
    data = df.values

    X = data[:, :-1]
    Y = data[:, -1]

    X[:, 1] = (X[:, 1] - X[:, 1].mean()) / X[:, 1].std()
    X[:, 2] = (X[:, 2] - X[:, 2].mean()) / X[:, 2].std()

    N, D = X.shape
    X2 = np.zeros((N, D+3))
    X2[:, 0:(D-1)] = X[:, 0:(D-1)]

    for n in range(N):
        t = int(X[n, D-1])
        X2[n, t+D-1] = 1

    # This is an altenative method of doing one-hot-encoding
    # Z = np.zeros((N, 4))
    # Z[np.arange(N), X[:, D-1].astype(np.int32)] = 1
    # X2[:, -4:] = Z
    # assert(np.abs(X2[:, -4:] - Z).sum() < 10e-10)

    return X2, Y

In [5]:
def get_binary_data():
    X, Y = get_data()
    X2 = X[Y <= 1]
    Y2 = Y[Y <= 1]

    return X2, Y2